@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "InterLocal";
  src: url("./fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "MonaSans";
  src: url("./fonts/MonaSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair";
  src: url("./fonts/Playfair-Regular.ttf") format("truetype");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: "InterLocal", sans-serif;
  --font-mona: "MonaSans", sans-serif;
  --font-playfair: "Playfair", serif;
}

body {
  background: white;
  color: black;
  font-family: "InterLocal", sans-serif;
  scroll-behavior: smooth;
}
